$blue: #384fa9;
$red: #e6516f;
$redDark: #ca4862;
$pink: #f5d3c8;
@import url("https://use.typekit.net/keq4xak.css");
@import url('https://fonts.googleapis.com/css2?family=Zhi+Mang+Xing&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yatra+One&display=swap');

.hi-container {
  background-color: white;
  width: 100%;
  height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5vh;
  .siren-img {
    height: 270px;
    z-index: 10;
    margin: 0;
  }
  h1 {
    font-family: bely-display, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 5em;
    color: $blue;
    z-index: 10;
    margin-bottom: 0;
    margin-top: 10px;
  }
  p {
    color: $blue;
    font-family: acier-bat-solid,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    z-index: 10;

  }
  .question {
    background-color: $pink;
    color: $red;
    padding: 10px;
    border-radius: 5px;
  }
  .intro {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      position: absolute;
      height: 70vh;
    }
    p {
      font-family: mr-eaves-sans, sans-serif;
      font-weight: 700;
      font-style: normal;
      font-size: 25px;
      z-index: 2;
      width: 50%;
      text-align: center;
      background-color: $pink;
      padding: 10px;
      border-radius: 5px;
      // word-spacing: .5vw;
    }
  }
  .io{
    display: flex;
    flex-direction: row;
    p {
      color: $pink;
      padding: 0;
      height: 100%;
      margin: 0;
    }
    .agree-bttn-yes {
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 0;
      z-index: 10;
      background-color: $red;
      transition: .3s;
      box-shadow: none;
    }
    .agree-bttn-yes:hover {
      background-color: $redDark;
      box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
    }
    .agree-bttn-no {
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 0;
      z-index: 10;
      background-color: $red;
      transition: .3s;
      box-shadow: none;
    }
    .agree-bttn-no:hover {
      background-color: $redDark;
      box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14);
    }
  }
}
#zh h1, #zh p {
  font-family: 'Zhi Mang Xing', cursive !important;
  font-size: 40;
  font-weight: 400;
}
#zh p {
  font-size: 30px !important;
}
#hi h1, #hi p{
  font-family: 'Yatra One', cursive;
  font-weight: 400;
}
#hi p {
  font-size: 20px !important;
}