@import url("https://use.typekit.net/keq4xak.css");
@import url('https://fonts.googleapis.com/css2?family=Zhi+Mang+Xing&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yatra+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sanchez&display=swap');
$blue: #384fa9;
$blueDark: #314697;
$red: #e6516f;
$redDark: #ca4862;
$pink: #f5d3c8;
$tablet-width: 768px;
$desktop-width: 1024px;

@mixin phone {
  @media (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: #{$tablet-width+1}) {
    @content;
  }
}


@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }  
  @-ms-keyframes #{$animation-name} {
    @content;
  }
  @-o-keyframes #{$animation-name} {
    @content;
  }  
  @keyframes #{$animation-name} {
    @content;
  }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};      
}

@include keyframes(float) {
  0% { transform: translateY(0px); }
  50% { transform: translateY(20px); }
  100% { transform: translateY(0px); }
}


.element {
  width: 100px;
  height: 100px;
  background: black;
  @include animation('float 5s infinite');
}

.NavBar {
  .MuiLinearProgress-barColorSecondary {
    background-color: $red;
    position: fixed;
    height: 4px;
    z-index: 5000;
  }
}
.grecaptcha-badge{
  z-index: 3000;
}
body {
  max-width: 100vw;
  overflow-x: hidden;
  height: 90vh;
  @include phone {
    overflow-x: hidden;
  }
  // border: 1px solid red;
  p{
    font-family: 'Sanchez', serif;
  }
  .NavBar {
    .app-bar {
      background-color: $blue;
      // height: 50px;
      .nav-toolbar {
        .nav-tools {
          width: 100%;
          display: flex;
          justify-content: space-between;
          .MuiIconButton-colorInherit{
            transition: .3s;
          }
          .MuiIconButton-colorInherit:hover{
            background-color: $blueDark;
          }
          .nav-btn {
            transition: .3s;
          }
          .nav-btn:hover{
            background-color: $blueDark;
          }
        }
      }
    }
  }
  .lang-list {
    width: 20vw;
    @include phone {
      width: 100vw;
      display: flex;
    }
    .lang-list-item {
      justify-content: center;
      text-align: center;
    }
  }
  div.landing {
    // border: 1px solid green;
    display: flex;
    width: 100%;
    height: 95vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @include phone {
      height: 100%;
    }
    .landing-img {
      display: flex;
      justify-content: center;
      height: 50vh;
      padding: 10vh 0;
      #siren {
        position: absolute;
        @include animation('float 5s infinite');
        @include phone {
          height: 50%;
        }
      }
      #blob {
        position: absolute;
        @include animation('float 7s infinite');
        @include phone {
          height: 50%;
        }
      }
    }
    h1 {
      // border: 2px solid blue;
      display: flex;
      justify-content: center;
      width: 100%;
      font-family: bely-display, sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 5em;
      text-align: center;
      margin: 0;
      color: $blue;
    }
    h2 {
      // border: 2px solid orange;
      margin: 0;
      height: 0;
      width: 100%;
      .slidingVertical {
        // border: 1px solid greenyellow;
        display: flex;
        justify-content: center;
        span {
          // border: 1px solid red;
          color: whitesmoke;
          top: 15px;
          font-size: larger;
        }
      }
    }
    .landing-bttn {
      width: 500px;
      height: 40px;
      background-color: $red;
      @include phone {
        width: 80%;
        height: 12vh;
        margin: -10vh 0 4vh 0;
      }
      .sentence-bttn {
        position: relative;
        display: flex;
        width: 100%;
        justify-content: center;
        @include phone {
          margin-top: -35px;
        }
        .slidingVertical {
          color: white;
          display: flex;
          flex-direction: column;
          position: absolute;
          width: 100%;
          align-items: center;
          margin-top: -32px;
          .lang-bttn {
            align-items: center;
            position: absolute;
            // border: 1px solid red;
            font-size: 20px !important;
            color: whitesmoke;
            // bottom: 100px;
          }
        }
      }
    }
    .landing-bttn:hover {
      background-color: $redDark;
    }
  }
}
footer {
  box-shadow: 0px -1px 10px 0px gainsboro;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: acier-bat-solid,sans-serif;
  font-weight: 400;
  font-style: normal;
  color: $blue;
  justify-content: center;
  .upper-ftr {

  }
  hr {
    width: 8vw;
    background-color: $blue;
    // border: $blue 1px solid;
    height: 1px;
  }
  .lower-ftr {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 10%;
    padding-bottom: 10px;
    a {
      color: $blue;
    }
  }
  .footer-icon {
    // width: 20px;
    position: absolute;
    right: 20px;
    height: 25px;
    filter: drop-shadow(1px 1px 4px $blue);
  }
}